watch_file flake.nix flake.lock \
  cells/*

source_url \
  "https://raw.githubusercontent.com/divnix/std/main/direnv_lib.sh" \
  "sha256-JkRxy5PilGkOQcI/KaiZeyJKUTMTKduQwsw/ayUyz4k="
use std cells //julia2nix/devshells:default
