# shellcheck disable=SC1090
watch_file flakes.nix flake.lock
watch_file local/flake.nix local/flake.lock
# shellcheck disable=SC1090
source "$(fetchurl "https://raw.githubusercontent.com/gtrunsec/direnv/main/lib" "sha256-tuMA8WGkwcYq9V3MtlN6xdVvKd2YkdEpdK4ZyAN6VDM=")"

registry="$PRJ_ROOT/nix/std#__std"

use envreload //julia2nix/devshells/default
