watch_file flake.nix flake.lock \
  cells/*

source_url \
  "https://raw.githubusercontent.com/divnix/std/main/direnv_lib.sh" \
  "sha256-Y22GdguS7+8SLFyJvd+uxsSRNi7VzZIaOOxrE6OhtOU="
use std cells //julia2nix/devshells:default
